<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>data-science</title>
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="wellness360-sign-up.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-text">
        <h1>
          Every Drop Counts: Make a Life-Saving impact <br />
          Through Blood Donation
        </h1>
      </div>
    </header>
    <div class="container">
      <p>
        Welcome to our blood donation network, whereyour simple oct of kindness
        has the power to make an extra-ordinary difference. Blood donation is an
        essential pillar of healthcare that plays a vital role in Life-Saving
        lives and improving the well-being of individuals in need by donating
        blood, you become a hero , bringing hope and healing to those facing
        medical challenges. Your contribution ensures that hospitals and medical
        facilities have and adequate supply of blood to meet the diverse needs
        of patients, from emergency solution to ongoing treatments. join us this
        lifesaving journey and be the reason someone smile again
      </p>

      <div class="benefit-con">
        <h2>Benefits of Blood Donation</h2>
        <div class="saving-con">
          <div class="check-box">
            <input type="radio" />
          </div>
          <div class="saving-text">
            <h3>saving lives:</h3>
          </div>
          <div class="saving-p-text">
            Blood donation is a life-saving act that can help save the lives of
            individuals in need. including incident victims, surgical patients
            and individuals with medical condition requiring blood transfusion
          </div>
        </div>
        <div class="saving-con">
          <div class="check-box">
            <input type="radio" />
          </div>
          <div class="saving-text">
            <h3>Health Check-up:</h3>
          </div>
          <div class="saving-p-text">
            Blood donation is a life-saving act that can help save the lives of
            individuals in need. including incident victims, surgical patients
            and individuals with medical condition requiring blood transfusion
          </div>
        </div>
        <div class="saving-con">
          <div class="check-box">
            <input type="radio" />
          </div>
          <div class="saving-text">
            <h3>Enhances Blood <br />call production:</h3>
          </div>
          <div class="saving-p-text">
            Blood donation is a life-saving act that can help save the lives of
            individuals in need. including incident victims, surgical patients
            and individuals with medical condition requiring blood transfusion
          </div>
        </div>
        <div class="saving-con">
          <div class="check-box">
            <input type="radio" />
          </div>
          <div class="saving-text">
            <h3>Emotional satisfaction:</h3>
          </div>
          <div class="saving-p-text">
            Blood donation is a life-saving act that can help save the lives of
            individuals in need. including incident victims, surgical patients
            and individuals with medical condition requiring blood transfusion
          </div>
        </div>
      </div>

      <div class="works-con">
        <h1>How it Works</h1>
        <div class="work-grid">
          <div class="first">
            <button>1</button>
            <img src="images/com.png" alt="" />
            <h2>Registration</h2>
            <div class="content">
              <p>
                Begin by creating a donor account, providing your personal
                information such as name, contact details, age and blood type.
                This information helps in the matching process and ensures
                accurate records
              </p>
            </div>
          </div>
          <div class="first">
            <button>2</button>
            <img src="images/man hand.png" alt="" />
            <h2>Health Screaning</h2>
            <div class="content">
              <p>
                Begin by creating a donor account, providing your personal
                information such as name, contact details, age and blood type.
                This information helps in the matching process and ensures
                accurate records
              </p>
            </div>
          </div>
          <div class="first">
            <button>3</button>
            <img src="images/hand injection.png" alt="" />
            <h2>Donation Process</h2>
            <div class="content">
              <p>
                Begin by creating a donor account, providing your personal
                information such as name, contact details, age and blood type.
                This information helps in the matching process and ensures
                accurate records
              </p>
            </div>
          </div>
          <div class="first">
            <button>4</button>
            <img src="images/2 woman.png" alt="" />
            <h2>Post-Donation Care</h2>
            <div class="content">
              <p>
                Begin by creating a donor account, providing your personal
                information such as name, contact details, age and blood type.
                This information helps in the matching process and ensures
                accurate records
              </p>
            </div>
          </div>
          <div class="first">
            <button>5</button>
            <img src="images/nurse.png" alt="" />
            <h2>Testing and Processing</h2>
            <div class="content">
              <p>
                Begin by creating a donor account, providing your personal
                information such as name, contact details, age and blood type.
                This information helps in the matching process and ensures
                accurate records
              </p>
            </div>
          </div>
          <div class="first">
            <button>6</button>
            <img src="images/blood.png" alt="" />
            <h2>Storage and Distribution</h2>
            <div class="content">
              <p>
                Begin by creating a donor account, providing your personal
                information such as name, contact details, age and blood type.
                This information helps in the matching process and ensures
                accurate records
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn">
        <button class="view">View Eligibility</button>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
