<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You have successfully created your account</title>
    <!----------------------- 
        CSS LINK
     ------------------------>
    <link rel="stylesheet" href="css/verify.css" />
  </head>

  <body>
    <div class="container3">
      <div class="logo">
        <div>
          <a href="index.html">
            <i class="fa fa-long-arrow-left"></i>
          </a>
        </div>
        <div class="wellness">
            <img src="img/logo.png" alt="wellness361logo" />
        </div>
      </div>

      <div class="successful">
        <img src="img/mark.png" alt="" />
        <div>
          <h3>Congratulations</h3>
          <p>You have successfully created your account</p>
        </div>
        <div class="password">
          <button type="submit">Get Started</button>
        </div>
      </div>
    </div>
  </body>
</html>
