<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dashboard overview</title>
    <link rel="stylesheet" href="css/dashboard-overview.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!----------------------------header start------------------------------------>
    <header class="header">
      <div class="header-left">
        <i class="fa-solid fa-table-columns"></i>
        <h2>Dashboard</h2>
      </div>

      <div class="header-middle">
        <input type="text" placeholder="search" />
        <i class="fas fa-search"></i>
      </div>

      <div class="header-right">
        <i class="fa-regular fa-bell"></i>
        <div class="user">
          <img class="sandra-img" src="images/ope.jpg" alt="" width="2%" />
          <p>Sandra Ossai</p>
        </div>
      </div>
    </header>
    <!-------------------------------header end----------------------->

    <!----------------------------sidebar------------------------->
    <div class="sidebar">
      <div class="first-content">
        <div class="account">
          <a href=""
            ><i class="fa-regular fa-calendar-days"></i> Acoount overview</a
          >
        </div>

        <div class="account">
          <a href="">
            <i class="fa fa-stethoscope"></i>
            Consultation</a
          >
        </div>

        <div class="account">
          <a href="">
            <i class="fa fa-credit-card"></i>
            Payment</a
          >
        </div>

        <div class="account">
          <a href="">
            <i class="fa fa-tint" aria-hidden="true"></i>
            Blood donation</a
          >
        </div>
      </div>

      <div class="Consultation">
        <p>Consultation</p>
        <p>Consultation</p>
        <p>Consultation</p>
      </div>

      <div class="second-content">
        <div class="support">
          <a href="">
            <i class="fa fa-life-ring"></i>
            Support</a
          >
        </div>

        <div class="support">
          <a href="">
            <i class="fa fa-cog"></i>
            Setting</a
          >
        </div>

        <div class="support">
          <a href="">
            <i class="fa fa-sign-out"></i>
            Logout</a
          >
        </div>
      </div>
    </div>
    <!-----------------------sidebar end------------------------>
    <!-----------------------body-content start------------------------>
    <div class="body-content">
      <div class="first-body-content">
        <div class="welcome">
          <div class="welcome-flex">
            <div class="left-content">
              <h2>Welcome back, Sandra</h2>
              <p>start your journey to better health with wellness360</p>
            </div>

            <div class="right-content">
              <img src="images/cartoon-nurse.png" alt="" />
            </div>
          </div>
        </div>
        <div class="img">
          <img src="images/loading-frame.png" alt="" />
        </div>
      </div>

      <div class="div">
        <div class="small-div">
          <p>Blood pressure</p>
          <div class="p-flex">
            <p class="num">120/180</p>
            <img src="images/love.png" alt="" />
          </div>
        </div>
        <div class="small-div">
          <p>Blood pressure</p>
          <div class="p-flex">
            <p class="num">120/180</p>
            <img src="images/heart.png" alt="" />
          </div>
        </div>
        <div class="small-div">
          <p>Blood pressure</p>
          <div class="p-flex">
            <p class="num">120/180</p>
            <img src="images/temp.png" alt="" />
          </div>
        </div>
        <div class="small-div">
          <p>Blood pressure</p>
          <div class="p-flex">
            <p class="num">120/180</p>
            <img src="images/flower.png" alt="" />
          </div>
        </div>
      </div>
      <div class="chart">
        <img src="images/second-chart.png" alt="" />
      </div>
    </div>
    <!-----------------------body-content start------------------------>
  </body>
</html>
