<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Wellness360!</title>

    <!-------------------------- 
        CSS
     --------------------------->
    <link rel="stylesheet" href="css/verify.css" />
  </head>

  <body>
    <div class="container3">
      <div class="logo">
        <div>
          <a href="index.html">
            <i class="fa fa-long-arrow-left"></i>
          </a>
        </div>
        <div class="wellness">
          <a href="">
            <img src="img/wellness361logo.png" alt="wellness361logo" />
          </a>
        </div>
      </div>

      <div class="cal-wellcome">
        <h2>Welcome to Wellness360!</h2>
      </div>
      <div>
        <p>
          To get started, please select the user type that best matches your
          role. Whether you are a medical professional or a patient seeking
          quality healthcare services. Simply click on the option that matches
          your role and get started on your path to good health and well-being.
        </p>
        <div>
          <button type="button" class="patient">Patient</button>
        </div>
        <div><button type="button" class="doctor">Doctor</button></div>
      </div>
    </div>
  </body>
</html>
