<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>google-page</title>
    <link rel="stylesheet" href="css/google-page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="main">
      <i class="fa-solid fa-arrow-left"></i>
      <img src="images/logo.png" alt="" />
      <div class="con">
        <h2>Choose an account to continue with wellness360</h2>

        <div class="account">
          <div class="btn">
            <button>S</button>
          </div>
          <div>
            <p>sandra osai</p>
            <p>sandraosai@gmail.com</p>
          </div>
        </div>
        <div class="account">
          <div class="btn">
            <button>S</button>
          </div>
          <div>
            <p>sandra osai</p>
            <p>sandraosai22@gmail.com</p>
          </div>
        </div>

        <div class="account">
          <div class="icon">ic</div>
          <p>Add another account</p>
        </div>
      </div>
    </div>
  </body>
</html>
