<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign-in</title>
    <link rel="stylesheet" href="css/sign-in.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <img src="images/small-logo.png" alt="" />
      <div class="container">
        <div class="left-content">
          <div class="left-content-text">
            <h2>
              ignit your <br />
              Health journey!
            </h2>
            <p>
              unlock a wealth of health resources, expert <br />
              guidance, and personalized tools. Take control of <br />your
              well-being
            </p>
          </div>
        </div>
        <div class="right-content">
          <h1>Sign-Up</h1>
          <form>
            <label>First name</label>
            <input type="text" />
            <label>Last name</label>
            <input type="text" />
            <label>Email address</label>
            <input type="email" />
            <label>Phone number</label>
            <input type="number" />
            <label>Password</label>
            <input type="password" />
            <label>Confirm password</label>
            <input type="password" />
          </form>

          <div class="btn">
            <button class="c-btn">Create account</button>
          </div>
          <div class="btn">
            <button class="s-btn">Sign up with google</button>
          </div>

          <p>Already have an account? <a href="">Sign in</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
